body{
    font-family: Verdana;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    #myCanvas{
        margin-top: 40px;
        border-color: black;
        border-style: solid;
        width: 400px;
        height: 300px;
    }

    #clearButton{
        font-size: 2vh;
        margin: 30px;
        width: 120px;
        height: 60px;
    }
}