body{
    font-family: Verdana;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #myCanvas{
        margin-top: 40px;
        border-color: black;
        border-style: solid;
        width: 200px;
        height: 200px;
    }

    div{
        margin: 20px;
    }
    div.row-buttons{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 120px;
        height: 60px;
    } 
}